@font-face {
	font-family: 'Roboto-Regular';
	src: url('./Roboto-Regular.ttf');
}

body {
	font-family: 'Roboto-Regular';
	color: #f9f9f9;
	font-family: 'Roboto-Regular';
	font-weight: 500;
}

.card {
	padding: 7px 0px 7px 15px;
	margin-right: -10px;
	vertical-align: middle;
	font-weight: 400;
	font-size: 15px;
	background-color: #1E1E1E;
}

.cardHeaderContainer {
	display: inline-block;
	width: 100%;
	height: 30px;
}

.cardHeaderText {
	line-height: 34px;
	float: left;
}

.cardHeaderButton {
	margin-top: -2px;
	float: right;
}

.collapseText {
	padding: 16px 0 8px 0;
}

.divider {
	width: 100%;
	height: 0.3%;
	color: #FFFFFF;
}

paper-button.button {
	min-height: 40px;
	font-size: 14px;
	letter-spacing: .0892857143em;
	background-color: #272727;
	--paper-button-ink-color: #6A6A6A;
}

paper-button.button:hover {
	background-color: #383838;
}

paper-button.button[disabled] {
	background-color: #485264;
}